*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    text-align: center;
  position: fixed;
            bottom: 0;
            width: 100%;
            
}
.container-fluid{
    background-color: grey;
    margin: 0;
    padding: 0;
}

.navbar{
    --bs-navbar-padding-y: 0 !important;
    justify-content: space-between !important;
}




